<h2 class="text-xl mb-2">Drafts</h2>
<%= if @drafts == [] do %>
  <div class="text-gray-400">
    Drat, no drafts
  </div>
<% end %>
<%= for post <- @drafts do %>
  <.a navigate={~p"/posts/#{post.id}/edit"} class="flex items-center gap-2 my-1">
    <.post_type_icon type={post.type} class="w-6 h-6" />
    <%= post_description(post) %>
  </.a>
<% end %>
