<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Off By One">
      <%= @page_title %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <%= for {key, value} <- @og_meta do %>
      <meta property={key} content={value} />
    <% end %>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href={~p"/rss.xml"} />
  </head>
  <body {Theme.body_attrs(@theme)} id={"theme-#{@theme}"}>
    <%= if Auth.signed_in?(@conn) do %>
      <div class="flex items-center justify-between bg-purple-900 text-white px-2 drop-shadow mb-2 text-sm font-semibold">
        <div class="flex gap-2">
          <.link navigate={~p"/"} class="hover:bg-purple-700 px-4 py-2 transition-colors">
            <Heroicons.home class="w-5 h-5" />
          </.link>
          <.link navigate={~p"/posts/new/short"} class="hover:bg-purple-700 px-4 py-2 transition-colors">
            <.post_type_icon type={:short} class="w-5 h-5" />
          </.link>
          <.link navigate={~p"/posts/new/long"} class="hover:bg-purple-700 px-4 py-2 transition-colors">
            <.post_type_icon type={:long} class="w-5 h-5" />
          </.link>
          <.link navigate={~p"/posts/new/link"} class="hover:bg-purple-700 px-4 py-2 transition-colors">
            <.post_type_icon type={:link} class="w-5 h-5" />
          </.link>
          <.link navigate={~p"/posts"} class="hover:bg-purple-700 px-4 py-2 transition-colors">
            <Heroicons.pencil class="w-5 h-5" />
          </.link>
        </div>
        <div>
          <.link href={~p"/signin"} class="hover:bg-purple-700 px-4 py-2 transition-colors" method="delete">
            Sign Out
          </.link>
        </div>
      </div>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
